Source: ros-jade-rosparam-handler
Section: misc
Priority: extra
Maintainer: Claudio Bandera <cbandera@posteo.de>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-rosparam-handler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-catkin
Description: An easy wrapper for using parameters in ROS.
